body {
	font-family: verdana, sans-serif;
	font-size: 12px;
	line-height: 1.5em;
	color: #333;
	text-align: center;
	margin: 40px 0;
	padding: 0;
	background: #eee;
	}

STRIKE, S { color:#999999 }
STRIKE, S A:LINK { color:#999999 }
STRIKE, S A:VISITED { color:#999999 }
cite {color:#888800;font-style:normal;}
.cite {color:#888800;font-style:normal;}
.mark {color:#E20000;font-style:normal;}
.add { font-weight: bold; color:#c00; text-decoration: underline; }
.del { font-style: italic; color:#c00; text-decoration: line-through; }
.time{ font-family: Taahoma, Arial, Verdana; color: #cccccc; font-size: 9px;}
.center{
	text-align: center;
}
.myinput{
	width:100%;
}
.indent {
	margin-left: 40px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.code {
  background: #eee;
  border: solid #ddd 1px;
  font-family: "Courier New";
  color: black;
  font-size: 10pt;
  width: 90%;
  padding: 5px;
  width: 100%;
}
.codeold {
  background: #FFFFFF;
  border: solid #888888 2px;
  font-family: "Courier New";
  color: black;
  font-size: 10pt;
  width: 100%;
  height: 400px;
  overflow: scroll;
}

.searchtext {
	 font-size: 10px;
}

a {
	color: #0000aa;
	}

a:hover{
	color: #aa0000;
}

p {
	margin: 1em 0 1em;
	padding: 0;
	}

h1 {
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 115%;
	font-weight: bold;
	color: #c63;
	padding: 0;
	margin: 0;
	}

h2 {
	font-family: "lucida grande", verdana, sans-serif;
	font-size: 110%;
	color: #cc0000;
	padding: 0;
	margin: 0 0 1em 0;
	}

h2 a:link, h2 a:visited {
	text-decoration: none;
	color: #c63;
	}

h2 a:hover {
	color: #930;
	}

h3 {
	font-size: 100%;
	font-weight: bold;
	color: #333;
	padding: 0 0 2px 0;
	margin: 1.2em 0 -.2em 0;
	border-bottom: 1px solid #ddd;
	}

h1 span, h2 span, h3 span {
	color: #999;
	}

blockquote {
	font-size: 88%;
	color: #777;
	padding-left: 23px;
}

abbr, acronymn, .popup {
	font-style: normal;
	border-bottom: 1px dotted;
	}

em {
	font-style: italic;
	}

strong {
	font-weight: bold;
	}

strike {
	text-decoration: line-through;
	}


#wrap {
	margin: 0 auto;
	width: 750px;
	padding: 20px 13px 20px 20px;
	text-align: left;
	voice-family: "\"}\"";
  	voice-family: inherit;
	border: 1px solid #ddd;
	background: #fff;
	}

html>body #wrap {
	padding: 20px;
	}

/* THIS IS THE THING AT THE TOP ----------------------------------*/
#logo {
	background: url(images/corners.gif) #000088;
	background-repeat: no-repeat;
	height: 92px;
	width: 750px;
	padding: 0;
	margin: 0;
	line-height: 92px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	font-size: 2em;
	text-align: center;
}
/* END LOGO -------------------------------------------------------*/

#breadcrumbs {
	float: left;
	width: 710px;
	margin: 0;
	padding: 0 20px;
	border-bottom: 1px #eee solid;
	font-size: 80%;
}


/* LOGIN FORM ---------------------------------- */

#loginForm form {
	margin: 0;
	padding: 0;
}

.loginInput {
	width: 100px;
	margin: 0;
	font-size: 90%;
}

#loginForm input image{
	width: 83px;
	height: 19px;
	margin: 0;
}

/* END LOGIN FORM ------------------------------ */


/* ADD FORM ---------------------------------- */
#addForm input{
	width: 100%;
	margin: 0;
	padding: 1px 0px;
	font-size: 90%;
	font-family: verdana, sans-serif;
}

html>body #addForm input{
	width: 100%;
	height: 12px;
	margin: 2px 0 0 0;
}

#addForm textarea{
	width: 100%;
	height: 300px;
	margin: 0 0 0 0;
	font-family: verdana, sans-serif;
	font-size: 90%;
}

html>body #addForm textarea{
	width: 100%;
	height: 300px;
	margin: 2px 0 0 0;
}

#addForm select{
	margin: 0 0 0 0;
	font-family: verdana, sans-serif;
	font-size: 90%;
}

html>body #addForm select{
	margin: 2px 0 0 0;
}

#addForm .myFile{
	height: 17px;
}

/* Start Field Sets */

#addForm fieldset{
	margin: 15px 3px 5px 3px;
	padding: 15px;
	color: #aa0000;
	border: solid 1px #ccc;
	background: #eee;
}

#addForm fieldset legend{
	padding: 2px 15px;
	color: #aa0000;
	font-weight: bold;
	border: solid 1px #ccc;
	background: #fff;
}

#addForm fieldset h3{
	border: none;
}

/* End Field Sets ----------------------------------*/


#button{
	margin: 20px 0 0 0;
}

#newSection, #replicate{
	margin: 0 20px 0 20px;
}

#newSection h5, #replicate h5{
	font-size: 10px;
	margin: 0;
	padding: 0;
}

#content {
	float: left;
	width: 462px;
	margin: 28px 0 0 0;
	padding: 0 20px;
	text-align: justify;
	clear: left;
	}

#content .entry {
	margin-bottom: 14px;
	}

.entryTitle {
	padding: 0 0 0 16px;
	background: url(images/bit_doc.gif) no-repeat 1px 4px;
}

#content ul {
	list-style: none;
	margin: 1em 0 1em 0;
	padding-left: 24px;
	}

#content ul li {
	padding: 0 0 4px 17px;
	line-height: 1.3em;
	background: url(images/bullet_rounded.gif) no-repeat 0 4px;
	}

p.posted {
	color: #999;
	font-size: 88%;
	padding: 0 0 7px 0;
	margin: 0 0 0 160px;
	text-align: right;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
	width: 300px;
	}

p.posted img {
	vertical-align: middle;
	}

#sidebar {
	font-size: 88%;
	line-height: 1.5em;
	margin: 0 0 0 509px;
	padding: 15px 15px 0 15px;
	color: #333;
	width: 208px;
	}

html>body #sidebar{
	padding: 42px 15px 0 15px;
}

#sidebar a{
	color: #000088;
}

#sidebar a:hover{
	color: #aa0000;
}

#sidebar h3 {
	font-family: verdana, sans-serif;
	font-size: 100%;
	padding: 0 0 4px 1px;
	margin: 0 0 8px 0;
	color: #cc0000;
	border-bottom: 1px dotted #333;
	}

#sidebar h4 {
	font-size: 92%;
	font-weight: normal;
	margin: 0;
	}

#sidebar p {
	margin-top: 4px;
	margin-bottom: 20px;
	}

#sidebar ul, .noBullet, #sidebar dl {
	margin: 4px 0 20px 0;
	padding: 0;
	list-style: none;
	}

#sidebar li {
	margin: 0;
	padding: 0 0 2px 0;
	line-height: 1.4em;
	}

#sidebar #quickbits li, #sidebar #poleznosti li, #sidebar .bubble li, #sidebar #adminOptions li {
	margin: 0;
	padding: 0 0 0 13px;
	background: url(images/bullet_rounded.gif) no-repeat 0 4px;
	margin-bottom: .6em;
	}

#sidebar #quickbits li.last {
	background: none;
	}

#featured dd, #featured dt {
	margin: 0;
	}

#sidebar img {
	vertical-align: middle;
	}

#footer {
	position: relative;
	clear: both;
	margin: 0;
	padding: 8px 25px;
	font-size: 80%;
	color: #777;
	text-align: center;
	width: 710px;
	}

#footer a{
	color: #888;
	text-decoration: none;
}

#footer a:hover{
	color: #aa0000;
	text-decoration: underline;
}

hr {
	border-top: 1px dashed #ccc;
	color: #fff;
	background-color: #fff;
	height: 1px;
	}

.center {
	text-align: center;
	}

.hide {
	display: none;
	}


/* Calendar ------------------------------------------------------------------------- */
/* Main Table Setup Incluidng Date Number Fonts, Size and Color */

#calendar {
	margin: 0 0 15px 0;
}

.mainTable {
	background-color: #FFFFFF;
	border: 1px solid #eee;
	width: 178px;
 }

.navTable {
	background-color: #FFFFFF;
	border: 0px solid #FFFFFF;
	width: 178px;
 }

.navTableText {
    font-family: Geneva, Verdana, Arial, sans-serif;
	font-size: 9px;
	font-weight: Normal;
	text-decoration: none;
	color: #003366;
	}

/* Month and Year Row Setup */
.monthYearRow {
    line-height: 16pt;
	background-color: #FFFFFF;
	text-align: center;
	vertical-align: middle;

	}

/* Month and Year Text Setup */
.monthYearText {
	font-family: Geneva, Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: Bold;
	color: #252216;
	}

/* Day Names Row Setup */
.dayNamesRow {
    line-height: 11pt;
	background-color: #ddd;
	text-align: center;
	vertical-align: middle;
	}

/* Day Name Setup */
.dayNamesText {
    font-family: Geneva, Verdana, Arial, sans-serif;
	font-size: 10px;
	font-weight: Bold;
	color: #433D27;
	background-image:   url("images/dayBg.gif");
	}

/* Alignments, Font Face, Size and Color for Date Numbers and Row Height */
.rows {
	font-family: Geneva, Verdana, Arial, sans-serif;
	font-size: 10px;
	color: #433D27;
    line-height: 15pt;
	text-align: center;
	vertical-align: middle;
	}

/* Color of Today's Date */
.today {
	font-weight: bold;
	background-image:   url("images/cdef2.gif");
    }

/* Normal Cell Background (date number with no event markings) */
.s2 {
	background-color: #eee;
	}
/* Empty Cell Background (empty cells with no date numbers) */
.s20 {
	background-color: #fff;
	}
/* Mark Start Cell Background (usually a slashed graphic to show availability or solid for events) */
.s21 {
	background-color: #ddddff;
	}

a.calEvent{
	text-decoration: none;
	color: #000;
	font-weight: Bold;
}

a.calLink {
	text-decoration: none;
}


/*- Comments ------------------------------------------------------------------------------ */
.comment {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
	margin: 0 0 15px 0;
}

.commentReply{
	margin: 0 0 20px 45px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
}

.commentReply h3{
	padding: 2px 7px 4px 27px;
	margin: 0px;
	line-height: 17px;
	font-size: 12px;
	color: #aa0000;
	background: url(images/reply.gif) no-repeat 0 4px;
}

.comment h3{
	padding: 2px 7px 4px 27px;
	margin: 0px;
	line-height: 17px;
	font-size: 12px;
	background: url(images/article.gif) no-repeat 0 4px;
	}

.comment p, .commentReply p{
	margin: 10px;
	font-size: 11px;
	line-height: 1.1em;
}

.comment .datetime, .commentReply .datetime{
	font-size: 10px;
	color: #aaa;
	text-align: right;
}

.addCommentHeader{
	text-align: center;
	font-weight: bold;
	margin: 0 0 15px 0;
	cursor: pointer; cursor: hand;
}

.addCommentHeader a{
	text-decoration: underline;
	color: #5b80b2;
}

.commentHeader{
	text-align: center;
	margin: 15px 0 10px 0;
	padding: 5px 0 5px 0;
	font-size: 140%;
	background: #eeeeff;
}

#addComment{
	font-size: 90%;
}

#addComment .myInput{
	width: 90%;
	height: 10px;
	margin: 0 0 0 5px;
	font-family: verdana, sans-serif;
	font-size: 90%;
}

#addComment textarea{
	height: 200px;
	width: 99%;
	font-family: verdana, sans-serif;
	font-size: 90%;
}

#quickAddComment{
	margin: 0;
}

.quickReply{
	height: 100px;
	width: 99%;
	font-family: verdana, sans-serif;
	font-size: 90%;
}

#addComment .note{
	font-size: 90%;
	color: #666;
	line-height: 1em;
	text-align: center;
}

#addComment .button, .button{
	font-size: 90%;
}

/*- end comments ------------------------------------------------- */

.kdatetime{
	font-size: 80%;
	color: #aaa;
	font-style: italic;
}

#yearLinks{
	padding: 0 0 10px 0;
	font-size: 120%;
}

#skipLinks{
	width: 150px;
	padding: 10px 0 10px 0;
	text-align: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ddd;
	font-weight: bold;
}

.searchInput{
	width: 100%;
}

.inTerraCut{
	font-size: 80%;
}

.inTerraCut a{
	font-weight: bold;
}